<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoshine.douyin">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    如果播放器应用需要防止屏幕变暗或处理器进入休眠状态，或者要使用 MediaPlayer.setScreenOnWhilePlaying()
                或 MediaPlayer.setWakeMode() 方法，则您必须申请此权限。
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 环信 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".meishe.sdkdemo.MSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bva"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".ui.activity.AddFriendActivity" />
        <activity android:name=".ui.activity.FriendActivity" /> <!-- 登录 -->
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 注册 -->
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".test.RecyclerActivity" >
 <!--                 <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 环信 -->
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="xx" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".meishe.sdkdemo.capture.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.selectmedia.SelectMediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.VideoEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.utils.permission.PermissionsActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.filter.FilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.filter.ClipFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.theme.ThemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.spilt.SpiltActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.trim.TrimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.speed.SpeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />


        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.correctionColor.CorrectionColorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.volume.VolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.adjust.AdjustActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.photo.DurationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
        <activity
            android:name=".meishe.sdkdemo.edit.clipEdit.photo.PhotoMovementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.download.AssetDownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity android:name=".meishe.sdkdemo.edit.anim.AnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity
            android:name=".meishe.sdkdemo.edit.animatesticker.AnimateStickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.edit.Caption.CaptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.edit.compoundcaption.CompoundCaptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.edit.watermark.WaterMarkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.edit.music.MusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.edit.record.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />

        <activity
            android:name=".meishe.sdkdemo.edit.music.SelectMusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAnimationTheme" />
    </application>

</manifest>